<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<title>{{ _('home_title') }}</title>
</head>
<body>
	<header>
		<h1>{{ _('home_header') }}</h1>
		{% if user %}
			<p>{{ _('logged_in_as', username=user) }}</p>
		{% else %}
			<p>{{ _('not_logged_in') }}</p>
		{% endif %}
		{% if client_time %}
			<p>{{ _('current_time_is', current_time=client_time) }}</p>
		{% endif %}
	</header>
</body>
</html>